
 <div id="logreg-forms" style="text-align: center;">
        <form class="form-signin" action="/controllers/register-controller" method="POST">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Create an Account</h1>

            <div class="input-group">
              <input type="text" name="name" class="form-control" placeholder="Your Name" required="" autofocus="">
            </div>
          <br>
            <div class="input-group">
              <input type="email" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
            </div>
          <br>
            <div class="input-group">
              <input type="password" name="password" class="form-control" placeholder="Password" required="">
            </div>
          <br>
            <div class="input-group">
              <button class="btn btn-md btn-rounded btn-block form-control submit" type="submit" value="Submit"><i class="fas fa-sign-in-alt"></i> Submit</button>
            </div>

            <hr>
            <!-- <p>Don't have an account!</p>  -->
           
              <a class="btn btn-primary btn-lg"  href="/" role="button"><i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="font-size:20px;"></i>  Go Back To Sign Page</a>
      
            </form>
            <br>
<div class="surveyBtn" >
        <a class="btn btn-primary btn-lg"  href="/chat" role="button">Go to Chat Room</a>
</div>
</div>
